@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


body {
  font-family: "Fira Code", monospace;
}

a.active {
  color: #FEA55F;
  font-weight: bold;
}

.slick-arrow.slick-prev {
 
}

.boxskill:hover span {
  opacity: 1;
}
